{% block wearejust_readonly_widget %}
    <span style="padding: 0.75em 1em; display:block;">
        {{ field | render_view_element(object) }}
    </span>
{% endblock wearejust_readonly_widget %}

{% block wearejust_switcher_label %}
    {{- block('form_label') -}}
{% endblock wearejust_switcher_label %}

{% block wearejust_switcher_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock wearejust_switcher_widget %}
